<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LabUtility.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LabUtility.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <LabUtility.My.MySettings>
            <setting name="FileLocation" serializeAs="String">
                <value>c:\myFolder\myExcel2007file.xlsx</value>
            </setting>
            <setting name="DataProvider" serializeAs="String">
                <value>Microsoft.ACE.OLEDB.12.0</value>
            </setting>
            <setting name="HdrFirstRowColumnNames" serializeAs="String">
                <value>Yes</value>
            </setting>
            <setting name="ImexReadAllAsText" serializeAs="String">
                <value>Yes</value>
            </setting>
        </LabUtility.My.MySettings>
    </userSettings>
    <applicationSettings>
        <LabUtility.My.MySettings>
            <setting name="ConnectionString" serializeAs="String">
                <value>Provider=Microsoft.ACE.OLEDB.12.0;Data Source=c:\myFolder\myExcel2007file.xlsx;Extended Properties="Excel 12.0 Xml;HDR=YES;IMEX=1"</value>
            </setting>
            <setting name="ExtendedProperties" serializeAs="String">
                <value>Excel 12.0 Xml;HDR=YES;IMEX=1</value>
            </setting>
        </LabUtility.My.MySettings>
    </applicationSettings>
</configuration>